/* body, html {
  height: 100vh;
} */


.secretWord{
  text-align: center;
  padding: 10px;
  font-size: 48px;
  font-family: "Arial"
}

#btn {
  min-height: 100%;
  width: 100%;
  display: inline;
  text-align: center;
  width: 25px;
  font-size: 18px;
  font-family: "Arial";
}