
.secretWord{
  text-align: center;
  padding: 10px;
  font-size: 48px;
  font-family: "Arial"
}

.buttons {
  margin: 0% auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  font-size: 18px;
  font-family: "Arial";
}